<h3>What day were you born?</h3>
<h3>What day will it be 30 years in the future?</h3>
<h3>Hey guys, do you remember what day you met?</h3>
<h1>Find the Day of The Week</h1>
<form action='/weekday_result'>
  <div class="form-group">
    <label for="your_date">Choose Your Date:</label>
    <input id="your_date" name="your_date" class="form-control" type="text" placeholder="mm/dd/yyyy">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
